@model List<CS4389Bookstore.Models.Book>
@{
    ViewBag.Title = "Home Page";
}

<h3 style="color:grey">Welcome to Atlantis Bookstore!</h3>
<div class="row">
    <img src="~/Content/Images/Fizz.jpg" height="250" width="712"/>
</div>


<div class="row">
    <h4 style="color:grey">We suggest the following:</h4>
    @foreach (var book in Model)
    {
        <div class="col-md-3">
            <div class="row" style="text-align:center">
                <img alt="@book.Title" src="@book.BookArtUrl" height="80" width="50" />
            </div>
            <div class="row" style="text-align:center">
                <a href="@Url.Action("Details", "Store", new { id = book.BookId })">
                    <span>@book.Title</span>
                </a>
            </div>
        </div>
    }
</div>

